.container {
  display: flex;
  align-items: center;
  background-color: #f85092;
  gap: 75px;
}

.globe {
  padding: 20px;
  /* background-color: #b13968; */
  background-color: #dd4983
}

.globe-icon {
  color: #cf4278;
  width: 100%;
  height: 100%;
  display: block;
}

.city-index {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fa-icons {
  color: white;
  cursor: pointer;
}