.country-list {
  display: grid;
  align-items: center;
  background-color: #5788e4;
  grid-template-columns: auto auto;
  margin: 0;
  padding-left: 0;
}

.country-list li {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.country-list li:nth-child(4n-1),
.country-list li:nth-child(4n-2) {
  background: #4369b2;
}

.city-index {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fa-icons-right,
.country-code {
  color: rgb(20, 45, 64);
  margin-right: 25px;
  margin-top: 10px;
}

.country-name {
  color: rgb(20, 45, 64);
  margin-right: 25px;
  margin-top: 10px;
}

.country-flag {
  margin-right: 25px;
  margin-top: 10px;
  width: 50%;
}
