.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #131011;
}

p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  background-color: transparent;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border-color: #cf4278;
  padding-left: 10px;
}

::placeholder {
  font-size: 14px;
}