.global-details {
  display: flex;
  justify-content: space-between;
}

.globe {
  background-color: #5788e4;
  width: 50%;
}

.globe-icon {
  width: 100%;
  display: block;
}

.project-title {
  background-color: #4369b2;
  width: 50%;
}

.project-title p {
  color: rgb(20, 45, 64);
  font-weight: bold;
  margin-top: 30px;
}
