.holiday-list {
  display: flex;
  flex-direction: column;
  background-color: #f85092;
  padding-left: 0;
  justify-content: flex-start;
}

.holiday-list li {
  padding: 5px;
}

.holiday-list li:nth-child(2n) {
  background: #cf4278;
}