.d-flex {
  display: flex;
}

.holiday-container {
  flex-direction: column;
  margin: 0;
}

.holiday-list {
  flex-direction: column;
  background-color: #5788e4;
  padding-left: 0;
  justify-content: flex-start;
  margin-top: 0;
}

.holiday-list li:nth-child(2n) {
  background: #4369b2;
}

.country-details {
  display: flex;
  justify-content: space-between;
}

.globe {
  background-color: #6096fa;
  width: 50%;
}

.globe-icon {
  color: #5788e4;
  width: 100%;
  display: block;
}

.holiday-title {
  background-color: #4369b2;
  width: 50%;
}

.holiday-title p {
  font-weight: bold;
  color: rgb(20, 45, 64);
}

.holiday-name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(20, 45, 64);
}

.holiday-date {
  color: rgb(231, 231, 208);
}
